.vs/*
FileStub/bin/*
FileStub/obj/*
packages/*
.vscode
/FileStub/Templates/SourceEngine/bin
/FileStub/Templates/SourceEngine/obj
/FileStub/Templates/Unity/bin
/FileStub/Templates/Unity/obj
FileStub/Templates/FileStub-Vanguard/FileStub/bin/
FileStub/Templates/FileStub-Vanguard/FileStub/obj/
